<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleafexamples - Spring security</title>
    <meta charset="utf-8" />
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" href="css/admin.css" th:href="@{/css/admin.css}" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/admin.js" th:src="@{/scripts/admin.js}"></script>


</head>
<body onload="init()">
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TAI- Traffic Accidents Indicator</a>
        </div>
        <div th:replace="index::logout"></div>
    </div>
</nav>

<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">Users</a></li>
        <li><a href="#tab2">Events</a></li>
    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab active">
            <div>
                <table id="usersview" width="100%"></table>
            </div>
        </div>

        <div id="tab2" class="tab">
            EUREKA
        </div>
    </div>
</div>


<p><a href="../index.html" th:href="@{/index.html}">Back to home page</a></p>
</body>
</html>
